<div class="container" style="/*background-color: #368afd4a;*/">
	<div class="row" >
		<div class="col-md-3 col-xs-5 col-sm-3">
			<img src="img/user/perfil.jpg" alt="Perfil" class="img-thumbnail" >
		</div>
		<div class="col-md-9 hidden-xs col-sm-9">

				<h1 style="margin-top: 0px;margin-bottom: 0px;"><b>Fotografía profesional Fulanos</b><br></h1><i>Capturamos el mejor momento</i>
				<button type="button" class="btn btn-success">Agendar</button>

		</div>
		<div class="visible-xs col-xs-7">

				<h4 style="margin-top: 0px;margin-bottom: 0px;"><b>Fotografia profesional Fulanos</b><br></h4><i>Capturamos el mejor momento</i>
				<button type="button" class="btn btn-success">Agendar</button><br>

		</div>
	</div>
</div>
<br>
<div class="container">
	<div class="row">
		<div class="visible-xs">
			<div class="panel-group" role="tablist"> 
				<div class="panel panel-default" style="border-color: #ddd0;" > 
					<div class="panel-heading " style="background-color: #f5f5f500;" role="tab" id="collapseListGroupHeading1"> 
						<h4 class="panel-title"> 
						<a href="#collapseListGroup1" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseListGroup1"> <b><i>Más informacion...</i></b></a> 
						</h4> 
					</div> 
				<div class="panel-collapse collapse" role="tabpanel" id="collapseListGroup1" aria-labelledby="collapseListGroupHeading1" aria-expanded="true" style=""> 
					<ul class="list-group"> 
						<li class="list-group-item">Informacion</li> 
						<li class="list-group-item">Portfolio</li>
						<li class="list-group-item">Publicaciones</li>
						<li class="list-group-item">Novedades</li>
						<li class="list-group-item">Comentarios</li>
						<li class="list-group-item">Incorpora trabajadores</li> 
					</ul> 
					<!--<div class="panel-footer">Footer</div> --> 
					
				</div> 
				</div> 
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">

			<div class="col-md-2 col-sm-2 hidden-xs"><b> Información</b></div>
			<div class="col-md-2 col-sm-2 hidden-xs"><b> Portfolio </b></div>
			<div class="col-md-2 col-sm-2 hidden-xs"><b> Publicaciones</b></div>
			<div class="col-md-2 col-sm-2 hidden-xs"><b> Comentarios </b></div>
			<div class="col-md-2 col-sm-2 hidden-xs"><b> Ofertas </b></div>
