<nav class="navbar navbar-default " style="background-color: #f8f8f800;border-color: #e7e7e700;">
		<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand " href="#" style="color: #006cffc7;">Xipiex</a>
		</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" style="color: #549dff;"   data-toggle="modal" data-target="#myModal">Iniciar Sesión</a></li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #303030;color: #758ee4;border: 0px">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Iniciar Sesión</h4>
      </div>
      <div class="modal-body" style="background-color: #1d1d1d;color: #758ee4;border: 0px">

        <form>
			<div class="form-group">
				<label for="exampleInputEmail1">Email o Nombre de Usuario</label>
				<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email o Nombre de Usuario">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			</div>
		</form>

      </div>
      <div class="modal-footer login" style="background-color: #000000cf;border: 0px;color: white;">
				<div class="centrado">
	        	<label style="color:#ffffff;"><a href=""><b>  Registrarse</b></a> </label> | 
	        	<label style="color:#ffffff;"><a href=""><b>Iniciar Sesión</b></a></label>
					</div>
      </div>
    </div>
  </div>
</div>

