<br><br><br>

<div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="centrado">
                    <h1 class="Letter " style="margin-bottom: 0px;color: #006cffc7;"><a style="text-decoration:none;" href="#" >Xipiex.com</a></h1>
                    <p class="centrado"><i>Buscá el <b style="color:#006cffc7;">producto, negocio, servicio</b> que necesites <!-- de tu <b style="color:#006cffc7;">provincia</b>--></i></p>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div><br><br>
        <div class="row">
            <div class="col-md-3 col-sm-1"></div>
            <div class="col-md-3 col-sm-5">
                <select class="form-control">
                    <option>Seleccione la provincia</option>
                    <option>Chaco</option>
                    <option>Corrientes</option>
                    <option>Formosa</option>
                    <option>Misiones</option>
                </select><br>
            </div>
    
            <div class="col-md-3 col-sm-5">
                <select class="form-control">
                    <option>Seleccione Localidad</option>
                    <option>Resistencia</option>
                    <option>Corrientes</option>
                    <option>Formosa</option>
                    <option>Posadas</option>
                </select>
            </div>
            <div class="col-md-3 col-sm-1"></div>
        </div><br>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Ej: Cerveza, Gimnacio, Ropa" pattern="[A-Za-z0-9]+" title="Unicamente texto [a-z],[1-9]">
                        <span class="input-group-btn ">
                        <button class="btn btn-default" type="button" [routerLink]="['/resul']" ><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>

 
</div>